.app-container {
  display: flex;
}
.content {
  width: 100%;
  display: block;
}
.sidebar {
  min-height:800px;
}
.post-card{
  margin : 20px 50px
  
}
.hashtag{
  margin-right: 5px;
}
.reactions{
  margin: 15px 0 0 0;
}